/* === CSS Output === */
.css-output {
  @apply flex flex-col gap-2;
}
.css-output__header {
  @apply flex items-center justify-between;
}
.css-output__code {
  @apply bg-surface text-primary-950 overflow-auto rounded-md border border-neutral-800 p-4 pb-10 font-mono text-xs;
  min-height: 300px;
  white-space: pre;
  line-height: 1.6;
}
.css-output__code.css-locked {
  @apply flex items-center justify-center text-neutral-500 italic;
  white-space: normal;
  text-align: center;
}
#copy-css-btn {
  @apply fixed right-4 backdrop-blur-sm;
}
