/* Icon Button and Icon Input Styles */
@layer components {
  .icon-btn {
    @apply inline-block h-4 w-4 bg-current [mask-size:contain] [mask-position:center] [mask-repeat:no-repeat];
  }
  .icon-btn--add {
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><path fill-rule='evenodd' d='m3 4.267 3-1.732 3 1.732v3.464L6 9.464 3 7.73V4.267ZM6 1.67l3.75 2.165v4.33L6 10.33 2.25 8.165v-4.33L6 1.67Zm.75 4.327a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z' clip-rule='evenodd'/></svg>");
  }
  .icon-btn--link {
    @apply bg-primary-100;
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'><path fill='white' d='M3.349 6a.375.375 0 0 1 .53.531l-.549.549a1.125 1.125 0 1 0 1.59 1.59l.55-.548a.375.375 0 0 1 .53.53l-.549.549A1.875 1.875 0 0 1 2.8 6.55L3.349 6ZM2.36 2.361a.375.375 0 0 1 .472-.048l.059.048 6.75 6.75.048.058a.375.375 0 0 1-.52.521l-.059-.049-6.75-6.75-.048-.058a.375.375 0 0 1 .048-.472Zm4.19.44A1.875 1.875 0 1 1 9.2 5.45L8.651 6a.375.375 0 0 1-.53-.53l.549-.55a1.125 1.125 0 0 0-1.59-1.59l-.55.549a.375.375 0 0 1-.53-.53l.55-.549Z'/></svg>");
  }
  .input-icon--radius,
  .input-icon--h-padding {
    @apply bg-current [mask-size:contain] [mask-position:center] [mask-repeat:no-repeat];
  }
  .input-icon--radius {
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'><path fill='%23969696' fill-rule='evenodd' d='M7.417 5H7.4c-.336 0-.613 0-.838.018a1.7 1.7 0 0 0-.652.164c-.314.16-.569.414-.728.728a1.7 1.7 0 0 0-.164.652C5 6.787 5 7.064 5 7.4v.517a.417.417 0 0 0 .833 0v-.5c0-.357 0-.6.016-.787.015-.183.042-.277.075-.342a.833.833 0 0 1 .364-.364c.065-.033.159-.06.342-.075.187-.016.43-.016.787-.016h.5a.417.417 0 0 0 0-.833h-.5Zm5.166 0h.017c.336 0 .613 0 .838.018.234.02.45.06.652.164.313.16.569.414.728.728a1.7 1.7 0 0 1 .164.652c.018.225.018.502.018.837v.518a.416.416 0 1 1-.833 0v-.5c0-.357 0-.6-.016-.787-.015-.183-.042-.277-.075-.342a.833.833 0 0 0-.364-.364c-.065-.033-.159-.06-.342-.075a10.83 10.83 0 0 0-.787-.016h-.5a.417.417 0 1 1 0-.833h.5Zm.017 10h-.517a.417.417 0 1 1 0-.833h.5c.357 0 .6 0 .787-.016.183-.015.277-.042.342-.075a.833.833 0 0 0 .364-.364c.033-.065.06-.159.075-.342.016-.188.016-.43.016-.787v-.5a.416.416 0 1 1 .833 0v.517c0 .336 0 .613-.018.838-.02.234-.06.45-.164.652-.16.314-.415.569-.728.728a1.7 1.7 0 0 1-.652.164c-.225.018-.502.018-.837.018m-5.184 0H7.4c-.336 0-.613 0-.838-.018a1.7 1.7 0 0 1-.652-.164 1.667 1.667 0 0 1-.728-.728 1.7 1.7 0 0 1-.164-.652A10.641 10.641 0 0 1 5 12.6v-.517a.417.417 0 1 1 .833 0v.5c0 .357 0 .6.016.787.015.183.042.277.075.342.08.156.207.284.364.364.065.033.159.06.342.075.187.016.43.016.787.016h.5a.417.417 0 0 1 0 .833h-.5Z' clip-rule='evenodd'/></svg>");
  }
  .input-icon--h-padding {
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 20'><path fill='white' fill-rule='evenodd' d='M7.167 6.25a.417.417 0 1 0-.834 0v7.5a.417.417 0 1 0 .834 0v-7.5Zm7.083-.417a.417.417 0 0 1 .417.417v7.5a.417.417 0 1 1-.834 0v-7.5a.417.417 0 0 1 .417-.417Zm-2.917 5V9.167H9.667v1.666h1.666Zm.834-1.666a.833.833 0 0 0-.834-.834H9.667a.833.833 0 0 0-.834.834v1.666a.833.833 0 0 0 .834.834h1.666a.833.833 0 0 0 .834-.834V9.167Z' clip-rule='evenodd'/></svg>");
  }

  .account-btn.tab--active {
    border-bottom: none;
  }
  .account-btn svg {
    fill: currentColor;
  }
}
